<mat-toolbar class="toolbar">
  <mat-checkbox (change)="onSelectAllClick($event.checked)">
    Select All</mat-checkbox
  >
  <button mat-raised-button color="warn" (click)="deleteUsers()">Delete</button>
  <button mat-raised-button (click)="onSortClick()">
    Sort: <mat-icon>unfold_more</mat-icon>
  </button>
  <app-search (searchTextChanged)="onSearchTextEntered($event)"></app-search>
</mat-toolbar>
<section>
  <app-user-form (userAdded)="addUser($event)"></app-user-form>
</section>

<section>
  <ul class="users">
    <li *ngFor="let user of users">
      <mat-card
        class="card"
        *ngIf="
          searchText === '' || user.name.toLowerCase().includes(searchText)
        "
      >
        <mat-checkbox
          type="checkbox"
          class="checkbox"
          (change)="onUserSelected(user.id, $event.checked)"
          [checked]="selectedUsersIds.includes(user.id)"
        >
        </mat-checkbox>
        <mat-card-header>
          <mat-card-title>{{ user.name }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            email: <span>{{ user.email }}</span>
          </p>
          <p>
            phone: <span>{{ user.phone }}</span>
          </p>
        </mat-card-content>
      </mat-card>
    </li>
  </ul>
</section>
